
.idea/dictionaries/sterh.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Netology.iml
.idea/vcs.xml
.idea/workspace.xml
task_2_5/convert_for_windows.txt
task_2_5/convert_for_linux.txt
task_2_5/convert_for_mac.txt
